@charset "UTF-8";


.mob {
	display:none;
}

@media (max-width:768px) {
	.fb-menu-box {display:none !important;}
	.desktop {display:none}
	.mob {display:block}
	.mob-2 {display:none;height:0 !important;overflow:hidden;}
	.mob-2 .fp-tableCell {display:none;height:0 !important;overflow:hidden;font-size:0 !important;}
}




