@charset "UTF-8";

/**
 * -------------------------------
 * @ Reset Style *
 * -------------------------------
 */
html, body, div, p, span, strong, b, em, iframe, pre, h1, h2, h3, h4, h5, h6,
img, dl, dt, dd, fieldset, form, legend, label, table, caption, thead, tbody, tfoot, tr, th, td,
ul, ol, li, a, input, select, textarea, article, aside, canvas, details, embed, figure, figcaption,
footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0 none;font-family:'Muli', 'Noto Sans KR';font-weight: 400;}
body, input, select, textarea {font-family:'Muli', 'Noto Sans KR', Dotum, "돋음", AppleGothic, Sans-serif, Arial;font-size: 14px;font-weight: 400;line-height: 1;color: #333;word-break:break-all;}
h1, h2, h3, h4, h5, h6, b, strong {font-family:'Muli', 'Noto Sans KR';font-weight: 500;}
html,body {height: 100%;width: 100%;}
ul, ol, li {list-style: none;}
em, address, i {font-style: normal;}
img {border: 0 none;vertical-align: top;}
sup {position: relative;top: 2px;font-size: 11px;line-height: 100%;}
table {border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;word-break: break-all;}
caption {overflow: hidden;width: 0;height: 0;font-size: 0;line-height: 0;}
th, td {vertical-align: middle;}
a {color: #333;text-decoration: none;line-height: 1;}
/*a:hover, a:focus, a:active {text-decoration: underline;}*/
/*a:hover:focus, a:focus:focus, a:active:focus {outline: 1px dotted #333;}*/
hr {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;height: 0}
legend {display: none;}
*, *:before, *:after, html, body {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%}
button {outline: none;border: 0 none;cursor: pointer; padding: 0; background: none;}
button:focus {outline: none;}
button[disabled], html input[disabled] {cursor: default;}
button::-moz-focus-inner, input::-moz-focus-inner {padding: 0;border: 0;}
input[type=checkbox], input[type=radio] {-webkit-box-sizing: border-box;box-sizing: border-box;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {display: block}
audio,canvas,progress,video {display: inline-block;vertical-align: baseline}

/* Form Common Style */
input[type='text'], input[type='password'], input[type='tel'], input[type='search'] {
	height:50px;padding:0 10px 0 18px;-webkit-appearance:none;
	outline:none 0;box-sizing:border-box;line-height:48px;color:#555;vertical-align: middle;
	font-family:'Muli','Noto Sans KR';font-weight:300;
	border:1px solid #dedede;
}
input[type="search"] {height:56px;line-height:53px;padding:0 10px 0 30px;background-color:#f0f2f4;border-radius:5px;border:1px solid #dce1e5;}
input[type='text'] { width: 100%;}
input[type='text'].small {height: 20px;line-height:19px;}
input[type='file'] {line-height:1;padding:0 7px;border:1px solid #d9d9d9;cursor:pointer;outline:none;box-sizing:border-box}
input[type='text'].error {border-color:#ff0000}
@media only screen and (-webkit-min-device-pixel-ratio:0) {
	input[type='text'],
	input[type='password'],
	input[type='tel'] {height:50px}
}
input[type='text'].readOnly:read-only,
input[type='text']:disabled { background-color: #fff; border-color: #f4f4f4; color: #919aa4;}
input[type="text"]::-ms-clear, input[type="text"]::-ms-reveal,
input[type="search"]::-ms-clear, input[type="search"]::-ms-reveal {display: none;width: 0;height: 0;}
input[type="search"]::-webkit-search-cancel-button { display: none;}
input[type="password"]::-ms-reveal{display: none;}
textarea {width:100%;box-sizing:border-box;padding:17px 20px; line-height: 24px;resize:none;font-size:inherit;border:1px solid #e8e8e8;outline:none}
textarea:focus {border-color:#0079C2}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color: #555 }
input:-moz-placeholder,
textarea:-moz-placeholder {color:#555;opacity:1}
input::-moz-placeholder,
textarea::-moz-placeholder {color:#555;opacity:1}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color:#555}
input[type='checkbox'],
input[type='radio'] {margin:0;padding:0;border:0}
input[type='checkbox']:disabled + label,
input[type='radio']:disabled + label {color:#666 !important}
select:focus::-ms-value {background-color: #fff; color: #666;}
select:disabled { background-color: #fff; color: #919aa4;opacity: .6}
select option { font-size: 13px;}

/* Common Style*/
#skip-nav .skip, .a11y {overflow: hidden;clip: rect(0 0 0 0);position: absolute;width: 1px;height: 1px;margin: -1px;}
#skip-nav .skip:focus, #skip-nav .skip:active {clip: auto;width: auto;height: auto;margin: 0;background-color: #333;color: #fff;z-index: 60}
#skip-nav {width: 100%;}
#skip-nav .skip {position: absolute;top: 0;display: block;padding: 10px 5px;background: #eaeaea;color: #333;text-align: center;text-decoration: none;}
.ir {font: 0/0 a;color: transparent;text-shadow: none;}
.tal {text-align: left !important;}
.tac {text-align: center !important;}
.tar {text-align: right !important;}
.mb-none {margin-bottom: 0 !important;}
.pb-none {padding-bottom: 0 !important;}
.bd-none {border: 0 none !important;}
.mt-2xs {margin-top: 5px !important;}
.mt-xs {margin-top: 10px !important;}
.mt-s {margin-top: 15px !important;}
.mt-m {margin-top: 20px !important;}
.mt-l {margin-top: 30px !important;}
.mt-xl {margin-top: 40px !important;}
.mt-2xl {margin-top: 50px !important;}
.mb-2xs {margin-bottom: 5px !important;}
.mb-xs {margin-bottom: 10px !important;}
.mb-s {margin-bottom: 15px !important;}
.mb-m {margin-bottom: 20px !important;}
.mb-l {margin-bottom: 30px !important;}
.mb-xl {margin-bottom: 40px !important;}
.mb-2xl {margin-bottom: 50px !important;}
.pt70 {padding-top: 70px !important;}
.primary-color {color:#00b2b2;}
.point-col01 {color: #99d7e4 !important;}
.space-char01 { display: inline-block; margin: 0 12px;}

.fl {float: left;}
.fr {float: right;}

/* common box align */
.align-box {display:flex; justify-content:center;align-items:center;}
.align-box.tar {justify-content:flex-end}
.align-box.between {justify-content:space-between}
.clear-fix:after {content: ""; display: table;table-layout: fixed; clear: both;}
.align-box + .align-box { margin-top: 10px;}

.sp_wadiz,
.sp_wadiz-a::after,
.sp_wadiz-b::before {background-image:url('/resource/images/sp_wadiz.png');background-repeat:no-repeat;background-size:500px auto;}
.sp_wadiz-a::after,
.sp_wadiz-b::before {content:"";display:inline-block}

/* Common Component Style */
[class*="btn-"] { display: inline-block;}
.btn-type {height:55px;font-size:21px;font-weight:500;color:#fff;padding:0 30px;line-height:52px;background-color:#00b2b2;border-radius:10px}
.btn-type ~ .btn-type {margin-left:10px;}
.btn-move-top {display:none;position: fixed;z-index:250;left: 50%;margin-left:41%;bottom:80px;width: 86px;height: 86px; background-image:url('/resource/images/sp_wadiz.png');background-repeat:no-repeat;background-size:500px auto;background-position:0 -280px;}
.btn-search {position:absolute;top:2px;right:15px;width:50px;height:50px;background-position:-240px -280px;}
.btn-type2 {color:#fff;font-size:12px;height:30px;line-height:29px;padding:0 12px;background-color:#50bdd2;vertical-align:middle}


/* select */
.select-box {display: inline-block;position: relative;height: 40px; line-height: 40px; vertical-align: middle;border:1px solid #dedede;}
.select-box:after {content:"";position: absolute;top: 50%;right: 15px;margin-top: -3px;width: 15px;height: 8px; background-image:url('/resource/images/sp_wadiz.png');background-repeat:no-repeat;background-size:250px auto;background-position:-100px -60px;}
.select {position: relative;width: 100%; height: 100%;padding-left: 20px;color: #8a8a8a;font-size: 15px; background-color: transparent;}
.select-box .select {-webkit-appearance: none;}
.select.v1 {height:50px;border:1px solid #dedede;}
.select::marker { background: #000;}
.select::-ms-expand {display: none;}
.select.v1 { border: 1px solid #e8e8e8;}

/* radio */
.radio {position:relative;display: inline-block;vertical-align:middle;}
.radio label {cursor: pointer;vertical-align:middle}
.radio input[type="radio"] {-webkit-appearance:none;opacity:0;}
.radio .fake-radio { display: inline-block; width:24px;height:24px;margin-right:10px;background-position:-400px -280px; vertical-align: middle;}
.radio input[type="radio"]:checked + .fake-radio { background-position-x: -440px;}

/* input file type */
.input-file { display: inline-block; position: relative; }
.input-file.img { width: 100px; height: 50px; }
.input-file .file-upload { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0 none; }
.input-file .uploadImg { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0 none;  }
.input-file .file-label { display: inline-block; left: 3px;top: 2px; }
.input-file .file-name { height: 50px;padding:0 20px; border: 1px solid #e8e8e8; }
.input-file .file-name:focus { border-color: #e8e8e8;}
.input-file + .input-file { margin-top: 8px;}

/* datepicker */
.ui-datepicker {width:264px;background-color:#ffffff;z-index: 10 !important;}
.ui-datepicker .ui-widget-header {background-color:transparent;border-color:transparent}
.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-content .ui-state-default {font-size:14px;border-color:transparent}
.ui-datepicker-unselectable.ui-state-disabled {background-color:transparent}
.ui-datepicker-unselectable.ui-state-disabled .ui-state-default {opacity:.3}
.ui-datepicker-calendar .ui-state-active,
.ui-datepicker-calendar .ui-widget-content .ui-state-active {background-color: #0f81c6;border-color: #0f81c6;color:#ffffff}
.ui-datepicker-calendar .ui-state-highlight,
.ui-datepicker-calendar .ui-widget-content .ui-state-highlight,
.ui-datepicker-calendar .ui-widget-header .ui-state-highlight {color:#333333;border:2px solid #0f81c6;background-color:transparent}
.ui-datepicker .ui-state-default.ui-state-hover {color:#ffffff !important;background-color: #0f81c6 }
.ui-datepicker .ui-state-highlight.ui-state-hover {color:#333333 !important;border:2px solid #0f81c6;background-color:transparent}
.ui-datepicker-calendar .ui-datepicker-week-end .ui-state-default {color:#ff5959}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {display:none}
.ui-datepicker .ui-datepicker-title select {height:32px;width:80px;color:#666666;border-color:#fbfbfe}
.datepicker-box { display: inline-block;position:relative}
.datepicker-box .datepicker { padding-left: 10px;border: 1px solid #e8e8e8; text-align: center;}
.ui-datepicker-trigger {
	display: inline-block; _display: inline; vertical-align: middle; border: none; margin-left: 10px; color: #fff;  width: 22px; height: 22px;
	padding: 0;  cursor: pointer;  background: url("../images/sp_cbp.png") no-repeat -90px -180px;
	text-indent: -9999px; overflow: hidden;
}
.ui-widget.ui-widget-content { border: 1px solid #959595;}

/* paging style */
.paging {position:relative; margin-top: 45px;text-align:center;font-size: 0;}
.paging a {position:relative;display:inline-block;width:30px;height:30px;vertical-align: middle;}
.paging a:hover { color: #00b2b2;}
.paging .page-number {margin-right:10px; font-weight: 400;width:30px;height:30px;text-align:center;line-height:26px;font-size:16px;color: #000;}
.paging .page-number.current {color: #00b2b2;}
.paging .page-number:hover::after,
.paging .page-number.current::after {content:"";position:absolute;bottom:2px;left:50%;transform:translate(-50%);width:10px;height:1px;background-color:#00b2b2;}
.paging .prev {margin-right:25px;background-position: -300px -280px;}
.paging .next {margin-left:15px;background-position: -350px -280px;}
.mob-paging {display:none}

/* layer popup */
.layer-wrap { position: absolute; top: 0; width: 100%; height: 100%; background: rgba(239, 241, 248, .5); text-align: center; z-index: 30;}
.layer-wrap:before {content:''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -.25em;}
.layer-wrap .layer-container {
	display: inline-block; position: relative;height: 620px; vertical-align: middle; background-color: #fff;
	border:2px solid #2d2d2d; border-radius:5px; text-align: left;
}
.layer-title { height: 60px; padding: 0 30px; line-height: 62px; color: #fff; background-color: #4b4e5f;}
.layer-container .layer-close { position: absolute; top: 22px; right: 30px; width: 18px; height: 18px; background: url(../images/sp_cbp.png) -360px -120px no-repeat;}
.layer-container .layer-content { position: relative; padding: 20px;}
.layer-container .layer-content.action {padding-bottom: 0;}

/* 로딩바 */
#loading { height: 100%; left: 0; position: fixed; top: 0; width: 100%; filter:alpha(opacity=50); -moz-opacity:0.5; opacity : 0.5; }
.loading { background-color: #fff; z-index: 500; }
#loading_img{ position:absolute; top:50%; left:50%; height:35px; margin-top:-40px; margin-left:-40px; z-index: 200; }


/*!
 * fullPage 3.0.8
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {margin: 0;padding: 0;overflow:hidden; /*Avoid flicker on slides transitions for mobile phones #336 */-webkit-tap-highlight-color: rgba(0,0,0,0);}
.fp-section {position: relative;-webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */-moz-box-sizing: border-box; /* <=28 */box-sizing: border-box;}
.fp-slide {float: left;}
.fp-slide, .fp-slidesContainer {height: 100%;display: block;}
.fp-slides {z-index:1;height: 100%;overflow: hidden;position: relative;-webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */transition: all 0.3s ease-out;}
.fp-section.fp-table, .fp-slide.fp-table {display: table;table-layout:fixed;width: 100%;}
.fp-tableCell {display: table-cell;vertical-align: middle;width: 100%;height: 100%;}
.fp-slidesContainer {float: left;position: relative;}
.fp-controlArrow {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
	position: absolute;
	z-index: 4;
	top: 50%;
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	margin-top: -38px;
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {left: 15px;width: 0;border-width: 38.5px 34px 38.5px 0;border-color: transparent #fff transparent transparent;}
.fp-controlArrow.fp-next {right: 15px;border-width: 38.5px 0 38.5px 34px;border-color: transparent transparent transparent #fff;}
.fp-scrollable {overflow: hidden;position: relative;}
.fp-scroller{overflow: hidden;}
.iScrollIndicator{border: 0 !important;}
.fp-notransition {-webkit-transition: none !important;transition: none !important;}
#fp-nav {position: fixed;z-index: 100;margin-top: -32px;top: 50%;opacity: 1;-webkit-transform: translate3d(0,0,0);}
#fp-nav.fp-right {right: 17px;}
#fp-nav.fp-left {left: 17px;}
.fp-slidesNav{position: absolute;z-index: 4;opacity: 1;-webkit-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);transform: translate3d(0,0,0);left: 0 !important;right: 0;margin: 0 auto !important;}
.fp-slidesNav.fp-bottom {bottom: 17px;}
.fp-slidesNav.fp-top {top: 17px;}
#fp-nav ul,
.fp-slidesNav ul {margin: 0;padding: 0;}
#fp-nav ul li,
.fp-slidesNav ul li {display: block;width: 14px;height: 13px;margin: 7px;position:relative;}
.fp-slidesNav ul li {display: inline-block;}
#fp-nav ul li a,
.fp-slidesNav ul li a {display: block;position: relative;z-index: 1;width: 100%;height: 100%;cursor: pointer;text-decoration: none;}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {height: 12px;width: 12px;margin: -6px 0 0 -6px;border-radius: 100%;}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	height: 4px;
	width: 4px;
	border: 0;
	background: #333;
	left: 50%;
	top: 50%;
	margin: -2px 0 0 -2px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{width: 10px;height: 10px;margin: -5px 0px 0px -5px;}
#fp-nav ul li .fp-tooltip {
	position: absolute;
	top: -2px;
	color: #fff;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	white-space: nowrap;
	max-width: 220px;
	overflow: hidden;
	display: block;
	cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {-webkit-transition: opacity 0.2s ease-in;transition: opacity 0.2s ease-in;width: auto;opacity: 1;}
#fp-nav ul li .fp-tooltip.fp-right {right: 20px;}
#fp-nav ul li .fp-tooltip.fp-left {left: 20px;}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{height: auto !important;}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {height: auto !important;}

/*Only display content to screen readers*/
.fp-sr-only{position: absolute;width: 1px;height: 1px;padding: 0;overflow: hidden;clip: rect(0, 0, 0, 0);white-space: nowrap;border: 0;}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {display: none;width: 100%;-webkit-tap-highlight-color: transparent;position: relative;z-index: 1; }
.owl-carousel .owl-stage {position: relative;-ms-touch-action: pan-Y;touch-action: manipulation;-moz-backface-visibility: hidden;}
.owl-carousel .owl-stage:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0; }
.owl-carousel .owl-stage-outer {position: relative;overflow: hidden;-webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0); }
.owl-carousel .owl-item {position: relative;min-height: 1px;float: left;-webkit-backface-visibility: hidden;-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none; }
.owl-carousel .owl-item img {display: block;width: 100%; }
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {display: none; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {cursor: pointer;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; }
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {background: none;color: inherit;border: none;padding: 0 !important;font: inherit; }
.owl-carousel.owl-loaded {display: block; }
.owl-carousel.owl-loading {opacity: 0;display: block; }
.owl-carousel.owl-hidden {opacity: 0; }
.owl-carousel.owl-refresh .owl-item {visibility: hidden; }
.owl-carousel.owl-drag .owl-item {-ms-touch-action: pan-y;touch-action: pan-y;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; }

.owl-carousel .animated {animation-duration: 1000ms;animation-fill-mode: both; }
.owl-carousel .owl-animated-in {z-index: 0; }
.owl-carousel .owl-animated-out {z-index: 1; }
.owl-carousel .fadeOut {animation-name: fadeOut; }

@keyframes fadeOut {
	0% {
		opacity: 1; }
	100% {
		opacity: 0; }
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {position: relative;height: 100%;background: #000;}
.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	/*background: url("owl.video.play.png") no-repeat;*/
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {-ms-transform: scale(1.3, 1.3);transform: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {display: none; }
.owl-carousel .owl-video-tn {opacity: 0;height: 100%;background-position: center center;background-repeat: no-repeat;background-size: contain;transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame {position: relative;z-index: 1;height: 100%;width: 100%; }

